In [1]:
from datetime import datetime
from fastcore.xtras import Path
import pandas as pd
from IPython.display import display
import xlsxwriter


FOLDER = Path(r"D:\OneDrive - ANATEL\Regulatron\Resultados")
FOLDER.ls()

(#9) [Path('D:/OneDrive - ANATEL/Regulatron/Resultados/amazon'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/americanas'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/carrefour'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/casasbahia'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/lista_celulares_homologados_EAN_09_05 2.xlsx'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/magalu'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/ml'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/screenshots'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/shopee')]

In [2]:
TO_DISCARD = {
    "amazon": [
        "Acessórios de Carros",
        "Antenas",
        "Apoios",
        "Binóculos, Telescópios e Óptica",
        "Cabos USB",
        "Cabos de Lightning",
        "Capas Laterais",
        "Expansores e Ampliadores de Tela",
        "GPS e Acessórios",
        "Lentes",
        "Som Automotivo",
        "Suportes",
        "Suportes de Cabeceira e Mesa",
    ],
    "ml": [],
}

SUBCATEGORIES = {
    "amazon": ["Celulares e Smartphones"],
    "ml": ["Celulares e Smartphones"],
    "magalu": [
        "xiaomi",
        "celular básico",
        "galaxy",
        "smartphone",
        "motorola",
        "carregador de celular",
        "moto",
        "multilaser",
        "poco",
        "iphone",
        "positivo",
        "lg",
        "infinix",
        "nokia",
        "redmi",
        "tcl",
        "oppo",
        "asus",
        "philco",
        "lenovo",
        "realme",
    ],
}

In [3]:
name = 'americanas'
folder = FOLDER / name

In [4]:
KEYWORD = "smartphone"
json = folder / f"{name}_20240709_{KEYWORD}.json"
df = pd.DataFrame(json.read_json().values(), dtype="string")
df.head()

,nome,preço,preço_original,avaliações,imagem,url,data,palavra_busca,página_de_busca,categoria,marca,modelo,certificado,ean_gtin,características,product_id,screenshot,index
0,Smartphone Samsung Galaxy A25 5G 128GB 6GB ram...,1257.15,"R$ 1.479,00",4 avaliações,https://images-americanas.b2w.io/produtos/7495...,https://www.americanas.com.br/produto/74953738...,2024-07-09T07:30:38,smartphone,3.0,página inicial | celulares e smartphones | sma...,Samsung,A25,198292300953,<NA>,"{'Código': '7495373812', 'Código de barras': '...",7495373812,americanas_20240709_7495373812.pdf,2096
1,Smartphone 13C 256GB 8GB ram amoled 6.71 Verde,<NA>,"R$ 1.210,00",sem avaliações,https://images-americanas.b2w.io/produtos/7499...,https://www.americanas.com.br/produto/74994314...,2024-07-09T07:30:54,smartphone,<NA>,página inicial | celulares e smartphones | sma...,Mi,Smartphone 13c 256gb 8gb ram amoled 6.71 verde,113482109185,<NA>,"{'Código': '7499431472', 'Código de barras': '...",7499431472,americanas_20240709_7499431472.pdf,205
2,Smartphone Multilaser G max 2 64gb Dual Chip C...,490.05,<NA>,sem avaliações,https://images-americanas.b2w.io/produtos/7487...,https://www.americanas.com.br/produto/74874499...,2024-07-09T07:31:09,smartphone,<NA>,página inicial | celulares e smartphones | sma...,Multilaser,<NA>,048382203111,<NA>,"{'Código': '7487449992', 'Código de barras': '...",7487449992,americanas_20240709_7487449992.pdf,857
3,Smartphone Xaiomi Redmi Note 13 4G 256gb - 8gb...,1346.39,"R$ 1.529,99",sem avaliações,https://images-americanas.b2w.io/produtos/7495...,https://www.americanas.com.br/produto/74954022...,2024-07-09T07:31:26,smartphone,<NA>,página inicial | celulares e smartphones | sma...,<NA>,<NA>,221962314550,<NA>,"{'Código': '7495402232', 'Código de barras': '...",7495402232,americanas_20240709_7495402232.pdf,1442
4,Smartphone G2 Max 4G Preto Multilaser 128GB/4G...,750.00,<NA>,sem avaliações,https://images-americanas.b2w.io/produtos/7498...,https://www.americanas.com.br/produto/74982197...,2024-07-09T07:31:52,smartphone,<NA>,página inicial | celulares e smartphones | sma...,<NA>,<NA>,048382203111,<NA>,"{'Código': '7498219760', 'Código de barras': '...",7498219760,americanas_20240709_7498219760.pdf,970

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             72 non-null     string
 1   preço            69 non-null     string
 2   preço_original   43 non-null     string
 3   avaliações       72 non-null     string
 4   imagem           72 non-null     string
 5   url              72 non-null     string
 6   data             72 non-null     string
 7   palavra_busca    72 non-null     string
 8   página_de_busca  23 non-null     string
 9   categoria        72 non-null     string
 10  marca            51 non-null     string
 11  modelo           31 non-null     string
 12  certificado      72 non-null     string
 13  ean_gtin         0 non-null      string
 14  características  72 non-null     string
 15  product_id       72 non-null     string
 16  screenshot       72 non-null     string
 17  index            72 non-null     string
dtypes: string(18)
memory usage: 10.3 KB

In [6]:
for row in df.itertuples():
    chrs = eval(row.características)
    df.loc[row.Index, 'ean_gtin'] = chrs.get('Código de barras', '')

In [7]:
df['categoria'].value_counts(dropna=False)

categoria
página inicial | celulares e smartphones | smartphone | multilaser                                         10
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a25 5g           5
página inicial | celulares e smartphones | smartphone | lg | lg k | lg k11+                                 5
página inicial | celulares e smartphones | smartphone | motorola                                            4
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy s | galaxy s9               4
página inicial | celulares e smartphones | smartphone                                                       4
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g04                        2
página inicial | celulares e smartphones | smartphone | xiaomi                                              2
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g24                        2
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g54                        2
página inicial | celulares e smartphones | smartphone | infinix | infinix zero                              2
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a05              2
página inicial | celulares e smartphones | smartphone | realme | realme 8                                   2
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a15              2
página inicial | celulares e smartphones | smartphone | xiaomi | redmi 12                                   1
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g53 128gb                  1
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g50                        1
página inicial | celulares e smartphones | smartphone | motorola | motorola edge | motorola edge 40 neo     1
página inicial | celulares e smartphones | smartphone | xiaomi | redmi 13                                   1
página inicial | celulares e smartphones | smartphone | iphone | iphone 6                                   1
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a05s             1
página inicial | celulares e smartphones | smartphone | motorola | moto e | e20                             1
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy s | galaxy s23              1
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a7               1
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g14                        1
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g23                        1
página inicial | celulares e smartphones | smartphone | realme | realme c                                   1
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g13                        1
página inicial | celulares e smartphones | smartphone | motorola | moto g | moto g84                        1
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy s | galaxy s7               1
página inicial | celulares e smartphones | smartphone | iphone | iphone 8                                   1
página inicial | celulares e smartphones | smartphone | xiaomi | redmi note 13                              1
página inicial | celulares e smartphones | smartphone | xiaomi | redmi 10                                   1
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a55              1
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a14              1
página inicial | celulares e smartphones | smartphone | samsung galaxy | galaxy a | galaxy a02              1
página inicial | celulares e smartphones | smartphone | realme                                              1
página inicial | celulares e smartphones | smartphone | realme | realme 7                                   1
Name: count, dtype: Int64

In [8]:
df[df['categoria'].isna()]

Empty DataFrame
Columns: [nome, preço, preço_original, avaliações, imagem, url, data, palavra_busca, página_de_busca, categoria, marca, modelo, certificado, ean_gtin, características, product_id, screenshot, index]
Index: []

In [9]:
df.loc[df["categoria"] == "[]", 'categoria'] = pd.NA

In [10]:
columns = ["nome", "categoria", "url"]
for column in columns:
    for row in df[df[column].isna()].itertuples():
        if (file := FOLDER / "screenshots" / f"{row.screenshot}").is_file():
            print(f"Deleting {file}")
            file.unlink()
    df = df.dropna(subset=column).reset_index(drop=True)

In [11]:
df["certificado"].value_counts(dropna=False)

certificado
198292300953    5
025931304858    5
030782109185    3
198252300953    3
221962314550    2
206672300330    2
112462100330    2
093622300330    2
048382203111    2
152872100953    2
175342314550    2
180022100330    1
113482109185    1
042801903111    1
133832315156    1
021181909185    1
117602300330    1
007982209185    1
018601900953    1
091932100330    1
205312300330    1
124942000953    1
034561501993    1
043261900330    1
014361900953    1
096342315156    1
179182003589    1
117032300330    1
101462203111    1
139722300953    1
051192214550    1
139732300953    1
000972000953    1
171522200953    1
056351800953    1
180732200330    1
124422103589    1
091332108134    1
065732313366    1
160332200330    1
117072300330    1
009972307600    1
056851901993    1
032192400330    1
051491701993    1
018532415156    1
235492300953    1
023611800953    1
069282003111    1
147352206146    1
238392314550    1
060522313366    1
142732213366    1
Name: count, dtype: Int64

In [12]:
df.loc[df["ean_gtin"] == "", 'ean_gtin'] = pd.NA
df["ean_gtin"].value_counts(dropna=False)

ean_gtin
<NA>             14
7904414985577     3
6941764416642     2
7892509131582     2
6941812759424     1
7908414457591     1
7894819300153     1
7892509131872     1
7892509108300     1
7892597351404     1
7892597353699     1
7898655637329     1
7892597352623     1
7891072452186     1
7899838889221     1
7892597353323     1
7892597353880     1
7892597348848     1
7899508315418     1
7892509116022     1
7892509107570     1
7891901248737     1
7892509135054     1
7892597353576     1
7908414457638     1
7908068810605     1
7896904660517     1
7896904691795     1
7892597353828     1
7311271605270     1
7892509133999     1
7892509127783     1
7892509103961     1
7896643551664     1
7892597353538     1
7891356098772     1
6941764418752     1
7892405035816     1
7892597353415     1
7892509132800     1
7892509131810     1
7898552005344     1
7892597354160     1
7908426309444     1
7908426308829     1
7908068811817     1
7892509135610     1
7892509132763     1
7892509099394     1
7899838893570     1
7892509127660     1
7892509132817     1
7899835993396     1
7892509134262     1
7908514700177     1
Name: count, dtype: Int64

In [13]:
categories = df["categoria"].str.split("|", expand=True)
categories.columns = [f"categoria_{c}" for c in categories.columns]
print(len(categories.columns))
for cat in categories:
    categories[cat] = categories[cat].str.strip()
df = pd.concat([df, categories], axis=1)

6

In [14]:
for cat in categories.columns:
    condition = df[cat].notna()
    df.loc[condition, "subcategoria"] = df.loc[condition, cat]

In [15]:
df["categoria_0"].value_counts(dropna=False)

categoria_0
página inicial    72
Name: count, dtype: Int64

In [16]:
df["categoria_1"].value_counts(dropna=False)

categoria_1
celulares e smartphones    72
Name: count, dtype: Int64

In [17]:
df["categoria_2"].value_counts(dropna=False)

categoria_2
smartphone    72
Name: count, dtype: Int64

In [18]:
# df["categoria_3"].value_counts(dropna=False)

In [19]:
# df["categoria_4"].value_counts(dropna=False)

In [20]:
df["subcategoria"] = df['categoria_2']

In [21]:
for cat in SUBCATEGORIES['magalu']:
    df.loc[df["subcategoria"].str.lower().str.contains(cat), "subcategoria"] = "smartphone"

In [22]:
df["subcategoria"].value_counts(dropna=False, normalize=True)

subcategoria
smartphone    1.0
Name: proportion, dtype: Float64

In [22]:
df = df[df["subcategoria"] == "Celulares e Smartphones"]

## Formatação

In [23]:
df['Item'] = df.index.to_list()

In [24]:
df["Data da Coleta"] = pd.to_datetime(df["data"], format="mixed").dt.strftime("%d/%m/%Y")

In [25]:
discard = df["certificado"].isna() & ~(df["subcategoria"] == "Celulares e Smartphones")

In [26]:
df = df[~discard]

In [27]:
# column = "O tipo do produto é de uso proibido no Brasil?"
# df[column] = "Não"

In [28]:
# column = "O produto é passível de homologação na Anatel? (Sim ou Não)"
# df[column] = "Sim"
# df.loc[discard, column] = "Não"

In [29]:
column = "Número de Unidades à Venda"
df[column] = "Não Informado"

In [30]:
columns = ["Existe o campo código de homologação no anúncio? (Sim ou Não)",
           "O código de homologação foi fornecido? (Sim ou Não)"]
for column in columns:
    df[column] = "Sim"
    df.loc[df["certificado"].isna(), column] = "Não"

In [31]:
columns = [
    "O produto é homologado? (Sim, Não e N.A.)",
    "Validação do código de homologação - O código de homologação fornecido é o do produto anunciado? (Sim, Não, N.A.)",
]
for column in columns:
    df[column] = ""

In [32]:
column = "O código EAN foi fornecido? (Sim ou Não) - Apenas para Smartphones."
df[column] = "Sim"
df.loc[df['ean_gtin'].isna(), column] = "Não"

In [33]:
column = "O código EAN fornecido corresponde ao produto? (Sim ou Não) -  Apenas para Smartphones."
df[column] = ""

In [34]:
df.rename(
    columns={
        "palavra_busca": "Texto da Busca",
        "screenshot": "Arquivo da Página",
        "url": "Endereço eletrônico (URL)",
        "nome": "Descrição do produto no anúncio",
        "subcategoria": "Tipo do Produto",
        "marca": "Fabricante",
        "modelo": "Modelo do Produto",
        "preço": "Valor do Produto (R$)",
        "certificado": "Observação 1 - Qual Código de Homologação fornecido no anúncio?"
    },
    inplace=True,
)

In [35]:
COLUNAS = [
    "Item",
    "Texto da Busca",
    "Arquivo da Página",
    "Data da Coleta",
    "Endereço eletrônico (URL)",
    "Descrição do produto no anúncio",
    # "O tipo do produto é de uso proibido no Brasil?",
    # "O produto é passível de homologação na Anatel? (Sim ou Não)",
    "Tipo do Produto",
    "Fabricante",
    "Modelo do Produto",
    "Valor do Produto (R$)",
    "Número de Unidades à Venda",
    "Existe o campo código de homologação no anúncio? (Sim ou Não)",
    "O código de homologação foi fornecido? (Sim ou Não)",
    "O produto é homologado? (Sim, Não e N.A.)",
    "Validação do código de homologação - O código de homologação fornecido é o do produto anunciado? (Sim, Não, N.A.)",
    "O código EAN foi fornecido? (Sim ou Não) - Apenas para Smartphones.",
    "O código EAN fornecido corresponde ao produto? (Sim ou Não) -  Apenas para Smartphones.",
    "Observação 1 - Qual Código de Homologação fornecido no anúncio?",
]

In [36]:
df = df[COLUNAS] #.sample(78)

In [37]:
writer = pd.ExcelWriter(
    json.with_suffix(".xlsx"),
    engine="xlsxwriter",
    engine_kwargs={"options": {"strings_to_urls": True}},
)

In [38]:
sheet_name = f"{name}-smartphone"
df.to_excel(writer, sheet_name=sheet_name, engine="xlsxwriter", index=False)

In [39]:
workbook = writer.book
worksheet = writer.sheets[sheet_name]
# Make the columns wider for clarity.
worksheet.autofit()
worksheet.set_default_row(hide_unused_rows=True)
# Freeze the first row
worksheet.freeze_panes(1, 0)

In [40]:
PREFIX = "https://anatel365.sharepoint.com/sites/Desenvolvimentodeappfiscalizaoe-commerce/Documentos%20Compartilhados/General/Resultados/screenshots/"
for i, link in enumerate(df["Arquivo da Página"], start=2):
    pdf = PREFIX + link
    worksheet.write_url(f"C{i}", pdf, string=link)

In [41]:
writer.close()