In [1]:
from fastcore.xtras import Path
from datetime import datetime
import pandas as pd
from IPython.display import display
import xlsxwriter


FOLDER = Path(r"D:\OneDrive - ANATEL\Regulatron\Resultados")
FOLDER.ls()

(#9) [Path('D:/OneDrive - ANATEL/Regulatron/Resultados/amazon'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/americanas'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/carrefour'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/casas_bahia'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/lista_celulares_homologados_EAN_09_05 2.xlsx'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/magalu'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/ml'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/screenshots'),Path('D:/OneDrive - ANATEL/Regulatron/Resultados/shopee')]

In [2]:
TO_DISCARD = {
    "amazon": [
        "Acessórios de Carros",
        "Antenas",
        "Apoios",
        "Binóculos, Telescópios e Óptica",
        "Cabos USB",
        "Cabos de Lightning",
        "Capas Laterais",
        "Expansores e Ampliadores de Tela",
        "GPS e Acessórios",
        "Lentes",
        "Som Automotivo",
        "Suportes",
        "Suportes de Cabeceira e Mesa",
    ],
    "ml": [],
}

SUBCATEGORIES = {
    "amazon": ["Celulares e Smartphones"],
    "ml": ["Celulares e Smartphones"],
}

In [3]:
name = 'ml'
folder = FOLDER / name

In [4]:
KEYWORD = "smartphone"
json = folder / f"{name}_{datetime.today().strftime("%Y%m%d")}_{KEYWORD}.json"
df = pd.DataFrame(json.read_json().values(), dtype="string")
df.head()

,nome,preço,avaliações,nota,imagem,url,data,palavra_busca,página_de_busca,categoria,...,estoque,vendedor,marca,modelo,certificado,ean_gtin,características,descrição,product_id,screenshot
0,Xiaomi Redmi 13c 4/128gb,999,(22),4.7,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",https://click1.mercadolivre.com.br/mclics/clic...,2024-07-05T12:30:19,smartphone,34,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Xiaomi Redmi Note 13 4G Dual SIM 128 GB Azul 6...,1209,4197,4.7,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",https://www.mercadolivre.com.br/xiaomi-redmi-n...,2024-07-09T03:27:13,smartphone,2,Celulares e Telefones|Celulares e Smartphones,...,+20,Vendido porYASSINIMPORTS +100 vendas,Xiaomi,Note 13 4G,221962314550,<NA>,"{'Marca': 'Xiaomi', 'Linha': 'Redmi', 'Modelo'...",Fotografia profissional no seu bolsoDescubra i...,MLB30935711,ml_20240709_MLB30935711.pdf
2,<NA>,<NA>,<NA>,<NA>,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",https://produto.mercadolivre.com.br/MLB-326475...,2024-07-09T03:27:30,smartphone,31,Celulares e Telefones,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,#redirectedFromVip,ml_20240709_#redirectedFromVip.pdf
3,Lançamento! Smartphone Zte Blade A3 Dual Sim 4...,399,<NA>,<NA>,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",https://click1.mercadolivre.com.br/mclics/clic...,2024-07-05T12:24:35,smartphone,17,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Samsung Galaxy A15 256gb 8gb Ram Tela 6.5 90hz...,1177.05,15817,4.8,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",https://www.mercadolivre.com.br/samsung-galaxy...,2024-07-09T03:28:09,smartphone,1,Celulares e Telefones|Celulares e Smartphones,...,+50,Loja oficialSamsung +1 M vendas,Samsung,A15 5G Dual Sim,198242300953,<NA>,"{'Marca': 'Samsung', 'Linha': 'Galaxy A', 'Mod...","Galaxy A15 5GVibrante, fluido, detalhado.O dis...",MLB32290078,ml_20240709_MLB32290078.pdf

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             75 non-null     string
 1   preço            75 non-null     string
 2   avaliações       29 non-null     string
 3   nota             29 non-null     string
 4   imagem           78 non-null     string
 5   url              78 non-null     string
 6   data             78 non-null     string
 7   palavra_busca    78 non-null     string
 8   página_de_busca  78 non-null     string
 9   categoria        66 non-null     string
 10  imagens          66 non-null     string
 11  estado           36 non-null     string
 12  vendas           36 non-null     string
 13  estoque          38 non-null     string
 14  vendedor         59 non-null     string
 15  marca            63 non-null     string
 16  modelo           63 non-null     string
 17  certificado      63 non-null     string
 18  ean_gtin         0 non-null      string
 19  características  63 non-null     string
 20  descrição        63 non-null     string
 21  product_id       66 non-null     string
 22  screenshot       66 non-null     string
dtypes: string(23)
memory usage: 14.1 KB

In [6]:
df['categoria'].value_counts(dropna=False)

categoria
Celulares e Telefones|Celulares e Smartphones                                  55
<NA>                                                                           12
Celulares e Telefones                                                           3
Celulares e Telefones|Celulares e Smartphones|Moto                              2
Celulares e Telefones|Celulares e Smartphones|Samsung J7 Prime|Samsung J7       1
Celulares e Telefones|Celulares e Smartphones|Samsung S20|Samsung S20 Fe        1
Celulares e Telefones|Celulares e Smartphones|Asus                              1
Celulares e Telefones|Celulares e Smartphones|Xiaomi|Xiaomi Redmi               1
Celulares e Telefones|Celulares e Smartphones|Celular|Celular Samsung           1
Celulares e Telefones|Celulares e Smartphones|Multilaser|Multilaser G Max 2     1
Name: count, dtype: Int64

In [7]:
df.loc[df["categoria"] == "[]", 'categoria'] = pd.NA

In [8]:
columns = ["nome", "categoria", "url"]
for column in columns:
    for row in df[df[column].isna()].itertuples():
        if (file := FOLDER / "screenshots" / f"{row.screenshot}").is_file():
            print(f"Deleting {file}")
            file.unlink()
    df = df.dropna(subset=column).reset_index(drop=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             84 non-null     string
 1   preço            83 non-null     string
 2   avaliações       29 non-null     string
 3   nota             29 non-null     string
 4   imagem           84 non-null     string
 5   url              84 non-null     string
 6   data             84 non-null     string
 7   palavra_busca    84 non-null     string
 8   página_de_busca  84 non-null     string
 9   categoria        84 non-null     string
 10  imagens          84 non-null     string
 11  estado           43 non-null     string
 12  vendas           43 non-null     string
 13  estoque          57 non-null     string
 14  vendedor         79 non-null     string
 15  marca            84 non-null     string
 16  modelo           84 non-null     string
 17  certificado      42 non-null     string
 18  ean_gtin         0 non-null      string
 19  características  84 non-null     string
 20  descrição        84 non-null     string
 21  screenshot       84 non-null     string
dtypes: string(22)
memory usage: 14.6 KB

In [10]:
df["certificado"].value_counts(dropna=False)

certificado
<NA>            42
221962314550     5
175342314550     5
175412314550     2
126752200330     2
198292300953     2
174092200330     2
203362313366     2
235492300953     1
162182100953     1
217582209185     1
130772203589     1
101232009185     1
233792313713     1
154282003589     1
233922313713     1
184972000953     1
175602314550     1
217622209185     1
152442000953     1
139722300953     1
206672300330     1
215602313366     1
178752000330     1
238392314550     1
178242000330     1
130982007600     1
237932314550     1
130132206887     1
217522314550     1
Name: count, dtype: Int64

In [11]:
df.loc[df["ean_gtin"] == "", 'ean_gtin'] = pd.NA
df["ean_gtin"].value_counts(dropna=False)

ean_gtin
<NA>    84
Name: count, dtype: Int64

In [8]:
categories = df["categoria"].str.split("|", expand=True)
categories.columns = [f"categoria_{c}" for c in categories.columns]
print(len(categories.columns))
for cat in categories:
    categories[cat] = categories[cat].str.strip()
df = pd.concat([df, categories], axis=1)

4

In [9]:
for cat in categories.columns:
    condition = df[cat].notna()
    df.loc[condition, "subcategoria"] = df.loc[condition, cat]

In [10]:
df["categoria_0"].value_counts(dropna=False)

categoria_0
Celulares e Telefones    66
<NA>                     12
Name: count, dtype: Int64

In [11]:
df["categoria_1"].value_counts(dropna=False)

categoria_1
Celulares e Smartphones    63
<NA>                       15
Name: count, dtype: Int64

In [12]:
df["categoria_2"].value_counts(dropna=False)

categoria_2
<NA>                70
Moto                 2
Samsung J7 Prime     1
Samsung S20          1
Asus                 1
Xiaomi               1
Celular              1
Multilaser           1
Name: count, dtype: Int64

In [13]:
df["categoria_3"].value_counts(dropna=False)

categoria_3
<NA>                  73
Samsung S20 Fe         1
Samsung J7             1
Xiaomi Redmi           1
Celular Samsung        1
Multilaser G Max 2     1
Name: count, dtype: Int64

In [18]:
# df["categoria_4"].value_counts(dropna=False)

In [14]:
df["subcategoria"].value_counts(dropna=False)

subcategoria
Celulares e Smartphones    55
<NA>                       12
Celulares e Telefones       3
Moto                        2
Samsung J7                  1
Samsung S20 Fe              1
Asus                        1
Xiaomi Redmi                1
Celular Samsung             1
Multilaser G Max 2          1
Name: count, dtype: Int64

In [20]:
df['subcategoria'] = df['categoria_1']

In [21]:
df["subcategoria"].value_counts(dropna=False, normalize=True)

subcategoria
Celulares e Smartphones    1.0
Name: proportion, dtype: Float64

## Formatação

In [22]:
df['Item'] = df.index.to_list()

In [23]:
df["Data da Coleta"] = pd.to_datetime(df["data"], format="mixed").dt.strftime("%d/%m/%Y")

In [24]:
discard = df['certificado'].isna() & df['subcategoria'].isin(TO_DISCARD[name])

In [25]:
# column = "O tipo do produto é de uso proibido no Brasil?"
# df[column] = "Não"

In [26]:
# column = "O produto é passível de homologação na Anatel? (Sim ou Não)"
# df[column] = "Sim"
# df.loc[discard, column] = "Não"

In [27]:
column = "Número de Unidades à Venda"
df[column] = df['estoque']

In [28]:
columns = ["Existe o campo código de homologação no anúncio? (Sim ou Não)",
           "O código de homologação foi fornecido? (Sim ou Não)"]
for column in columns:
    df[column] = "Sim"
    df.loc[df["certificado"].isna(), column] = "Não"

In [29]:
columns = [
    "O produto é homologado? (Sim, Não e N.A.)",
    "Validação do código de homologação - O código de homologação fornecido é o do produto anunciado? (Sim, Não, N.A.)",
]
for column in columns:
    df[column] = ""

In [30]:
column = "O código EAN foi fornecido? (Sim ou Não) - Apenas para Smartphones."
df[column] = "Sim"
df.loc[df['ean_gtin'].isna(), column] = "Não"

In [31]:
column = "O código EAN fornecido corresponde ao produto? (Sim ou Não) -  Apenas para Smartphones."
df[column] = ""

In [32]:
df.rename(
    columns={
        "palavra_busca": "Texto da Busca",
        "screenshot": "Arquivo da Página",
        "url": "Endereço eletrônico (URL)",
        "nome": "Descrição do produto no anúncio",
        "subcategoria": "Tipo do Produto",
        "marca": "Fabricante",
        "modelo": "Modelo do Produto",
        "preço": "Valor do Produto (R$)",
        "certificado": "Observação 1 - Qual Código de Homologação fornecido no anúncio?"
    },
    inplace=True,
)

In [33]:
COLUNAS = [
    "Item",
    "Texto da Busca",
    "Arquivo da Página",
    "Data da Coleta",
    "Endereço eletrônico (URL)",
    "Descrição do produto no anúncio",
    # "O tipo do produto é de uso proibido no Brasil?",
    # "O produto é passível de homologação na Anatel? (Sim ou Não)",
    "Tipo do Produto",
    "Fabricante",
    "Modelo do Produto",
    "Valor do Produto (R$)",
    "Número de Unidades à Venda",
    "Existe o campo código de homologação no anúncio? (Sim ou Não)",
    "O código de homologação foi fornecido? (Sim ou Não)",
    "O produto é homologado? (Sim, Não e N.A.)",
    "Validação do código de homologação - O código de homologação fornecido é o do produto anunciado? (Sim, Não, N.A.)",
    "O código EAN foi fornecido? (Sim ou Não) - Apenas para Smartphones.",
    "O código EAN fornecido corresponde ao produto? (Sim ou Não) -  Apenas para Smartphones.",
    "Observação 1 - Qual Código de Homologação fornecido no anúncio?",
]

In [34]:
df = df[COLUNAS]

In [35]:
df = df.sample(78)

In [36]:
writer = pd.ExcelWriter(
    json.with_suffix(".xlsx"),
    engine="xlsxwriter",
    engine_kwargs={"options": {"strings_to_urls": True}},
)

In [37]:
sheet_name = f"{name}-smartphone"
df.to_excel(writer, sheet_name=sheet_name, engine="xlsxwriter", index=False)

In [38]:
workbook = writer.book
worksheet = writer.sheets[sheet_name]
# Make the columns wider for clarity.
worksheet.autofit()
worksheet.set_default_row(hide_unused_rows=True)
# Freeze the first row
worksheet.freeze_panes(1, 0)

In [39]:
PREFIX = "https://anatel365.sharepoint.com/sites/Desenvolvimentodeappfiscalizaoe-commerce/Documentos%20Compartilhados/General/Resultados/screenshots/"
for i, link in enumerate(df["Arquivo da Página"], start=2):
    pdf = PREFIX + link
    worksheet.write_url(f"C{i}", pdf, string=link)

In [40]:
writer.close()